Package: com.tomaszpoliszuk.flipswitchkeyrepeat
Depends: firmware (>= 9.0), mobilesubstrate, com.a3tweaks.flipswitch
Name: Flipswitch - Key Repeat
Version: 1.0
Architecture: iphoneos-arm
Description: Flipswitch Toggle for Key Repeat
Maintainer: BigBoss
Author: Tomasz Poliszuk
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Addons (Flipswitch)
dev: tomaszpoliszuk
